<div class="col-lg-10 col-lg-6">
  <div class="thumbnail">
    <img src="https://s-media-cache-ak0.pinimg.com/736x/f5/db/93/f5db935219d393bb2ec9afb6a053dd68.jpg" alt="oolong" width="150">
    <div class="caption">
      <h3>MEAN Tea!</h3>
      <p>Welcome to the par-TEA! We at MEAN Tea pride ourselves in curating the widest selection of tea in the United States. We've been around since 1999 and are currently operated by a team of 50 awesome brewers. You could say we make quali-tea bags for your enjoyment. Did we mention that we LOVE a good par-TEA (and a terrible tea pun)</p>
      <p><a href="/#/contact" class="btn btn-primary" role="button">Contact Us</a> <a href="/#/teas" class="btn btn-default" role="button">Shop Tea</a></p>
    </div>
  </div>
</div>
