<div ng-controller="mainController">
  <button type="button" class="btn btn-warning cartButton" id="checkoutCart" ng-click="checkoutCart">Shopping Cart</button>
  <select name="searchBar" ng-model:"searchCategory">
    <option>Search by Category</option>
    <option value="awesome">awesome</option>
    <option value="cold">cold</option>
    <option value="dark">dark</option>
    <option value="dry">dry</option>
    <option value="hot">hot</option>
    <option value="lucid">lucid</option>
    <option value="spring">spring</option>
    <option value="summer">summer</option>
    <option value="warm">warm</option>
    <option value="winter">winter</option>
  </select>

  <label>Search by Name: <input ng-model='searchName' type="text"></label>
  <div class="container">
    <table class="table table-bordered">
      <tr>
        <th>Tea</th>
        <th>Information</th>
        <th>
          <label>Sort by Price:</label>
          <select ng-model="priceSort">
            <option value=""></option>
            <option value="price">Lowest</option>
            <option value="-price">Highest</option>
          </select>
        </th>
      </tr>
      <tbody ng-repeat="tea in teaCollection | filter:searchName | filter:searchCategory | orderBy: priceSort">
        <tr>
        <td>
          <img src="{{tea.imageUrl}}">
        </td>
        <td>
          <h3>{{tea.name}}</h3>
          <h5><b>Price:</b> {{tea.price / 100 | currency}}</h5>
          <h5><b>Ingredients:</b> {{tea.ingredients}}</h5>
          <h5><b>Rating: </b>{{tea.rating}}</h5>
          <h5><b>In Stock? </b>{{tea.inStock ? 'Yes':'No'}}</h5>
          <h5><b>Categories:</b>
            <ul>
              <li ng-repeat="cat in tea.categories">{{cat}}</li>
            </ul>
          </h5>
        </td>
        <td>
          <label>Quantity:</label>
          <select name="quantityBar">
            <option ng-repeat="qty in [1,2,3,4,5,6,7,8,9,10]">{{qty}}</option>
          </select>
          <button type="button" class="btn btn-warning" ng-click="teas.addToCart(tea,quantity)">Add to Cart</button>
          <br>
          <div class="caffeine-section">
            <h4>Caffeine</h4>
            mg/serving: {{tea.caffeineScale}}
            <caffeine-meter caffeinemg="tea.caffeineScale" id="tea._id"></caffeine-meter>
          </div>
        </td>
      </tr>
    </tbody>
  </div>
</div>
